.filters {
    background-color: #eaeaea !important;
    cursor: default !important;
    margin-bottom: 30px !important;
}

// .pagination {
//     // .paginationPrevious {}
//     // .paginationNext {}
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: row;

//     & > ul {
//         list-style: none;
//         padding: 0;
//         margin: 0;
//         display: flex;
//         & > li {
//             color: #2E2929;
//             display: flex;
//             margin:0 5px 0 5px;
//             align-self: baseline;
//             border: 1px solid #a9a9a9;
//             padding: 6px 13px;
//             width: 100%;
//             height: 36px;
//             border-radius: 3px;
//             transition: background-color .25s ease-in-out;
//             cursor: pointer;

//             &.active {
//                 color: #a9a9a9;
//                 background-color: #dadada;
//                 cursor: default;
//             }

//             &:hover {
//                 color: #a9a9a9;
//                 background-color: #dadada;
//             }
//         }
//     }
    
// }